@use '../themes/onedark' as *;
@use '../layout/dialog' as *;

.finish {
	@include dialog($color-1, $color-1, $color-5, $color-6, $color-1);
}

.results {
	width: 100%;

	span {
		width: 100%;
		display: block;
	}
}
