@use '../themes/onedark' as *;
@use '../abstracts/variables' as *;

header {
	justify-content: space-between;
	padding: 1em 2em;
	max-width: $breakpoint-large;
}

.home {
	gap: 1em;
	margin-bottom: 1em;
}

.main-title {
	color: $color-8;
	user-select: none;
}

.settings-icon {
	font-size: 1.75em;
	cursor: pointer;

	& g path {
		fill: $color-8 !important;
	}
}

.button-list {
	gap: 1em;

	.time {
		// Time icon
		&::before {
			width: 1.5em;
			height: 1.5em;
		}
	}
}

.test-time-btn {
	width: 48px;
	height: 24px;
	background-color: $color-5;
	color: $color-1;
	font-weight: bold;
	border: 0;
	border-radius: 999px;
	padding: 4px 12px;
	cursor: pointer;
	user-select: none;
}

.active-btn {
	background-color: $color-4;
}
