@use '../themes/onedark' as *;
@use '../abstracts/variables' as *;

main {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2em;
	max-width: $breakpoint-large;

	& > * {
		width: 100%;
	}
}

.stats {
	flex-direction: column;
	color: $color-8;
	font-size: 2em;
	user-select: none;
	justify-content: center;
	margin-bottom: 30px;
}

// TODO: .typing-area keeps writing after line is empty

.typing-area {
	height: 100%;
	position: absolute;
	background-color: transparent;
	color: transparent;
	resize: none;
	border: 0;
	cursor: pointer;
	z-index: 1;
	word-break: break-all;
	overflow-wrap: break-word;
	user-select: none;
}

.typing-area {
	// caret-color: $color-8;

	&:focus {
		outline: none;
		cursor: default;

		& + .words .word .letter {
			filter: none;
		}
	}

	&::selection {
		background-color: transparent;
	}

	&:disabled {
		cursor: default;
	}
}

.word-list {
	position: relative;

	&:focus-within .carret {
		display: block;
	}

	&:focus-within::after {
		display: none;
	}

	&::after {
		content: 'Tap to start typing';
		color: $color-6;
		font-weight: bold;
		font-size: 1.5em;
		display: block;
		position: absolute;
		user-select: none;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
	}

	&:has(.typing-area:disabled)::after {
		display: none;
	}
}

.words {
	display: flex;
	flex-wrap: wrap;
}

.word {
	display: inline;
}

.letter {
	color: $color-8;
	filter: blur(5px);
	user-select: none;
	white-space: pre;
}

.typing-area,
.letter {
	width: 100%;
	font-size: $typing-area-size;
}

.typing-area:disabled {
	& + .letter {
		filter: none;
	}
}

.incorrect-character {
	color: $color-2;
}

.correct-character {
	color: $color-3;
}

.carret {
	display: none;
	background-color: $color-5;
	width: $carret-width;
	height: $typing-area-size;
	position: absolute;
	top: 0.1rem;
	left: 0;
	animation: blink 0.3s alternate infinite both;
	transition: left 0.1s ease-out;
}

@keyframes blink {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
