@use '../themes/onedark' as *;
@use '../layout/dialog' as *;
@use '../layout/containers' as *;

.settings {
	@include dialog($color-1, $color-1, $color-8, $color-3);
}

.options {
	width: 100%;
}

.option {
	@include container($direction: row, $justify: space-between);
	width: 100%;
}

label {
	user-select: none;
}
