@use "../abstracts/variables" as *;

@media (min-width: $breakpoint-medium) {
	header {
		flex-direction: row !important;
	}

	.home {
		margin-bottom: 0;
	}

	.stats {
		padding-left: 3em;
		justify-content: flex-start;
	}

	.words {
		&::after {
			content: "Click to start typing";
		}
	}
}

@media (min-width: $breakpoint-large) {
	#root {
		& > * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
