@use '../abstracts/variables' as *;

@media (min-width: $breakpoint-small) {
	main {
		margin-top: 75px;
	}

	.stats {
		flex-direction: row;
		gap: 1.5em;
	}
}

@media (min-width: $breakpoint-medium) {
	header {
		flex-direction: row !important;
	}

	.home {
		margin-bottom: 0;
	}

	.stats {
		padding-left: 3em;
		justify-content: flex-start;
	}

	.word-list {
		&::after {
			content: 'Click to start typing';
		}
	}
}

@media (min-width: $breakpoint-large) {
	#root {
		& > * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
