@use '../abstracts/variables' as *;
@use '../themes/onedark' as *;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

// TODO add more fonts
* {
	font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;
	font-style: normal;
}

@each $tag in $headings, $simple-text {
	#{$tag} {
		color: $color-8;
	}
}
