@mixin container(
	$direction: row,
	$gap: 0,
	$align: center,
	$justify: flex-start
) {
	display: flex;
	flex-wrap: wrap;
	align-items: $align;
	flex-direction: $direction;
	justify-content: $justify;
	gap: $gap;
}

.container {
	@include container;
}

.container-column {
	@include container($direction: column, $justify: space-between);
}
