@mixin container($direction: row) {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: $direction;
}

.container {
	@include container;
}

.container-column {
	@include container($direction: column);
}
