main {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stats {
	color: var(--col-8);
	gap: 1.5em;
	font-size: 2em;
	width: fit-content;
	align-self: baseline;
	margin: 0 0 50px 3em;
}

.typing-area {
	position: relative;
	background-color: transparent;
	color: red;
	width: 100%;
	resize: none;
	border: 1px solid red;
	cursor: pointer;
	z-index: 1;
}

.typing-area:focus {
	outline: none;
	cursor: default;
}

.typing-area::selection {
	background-color: black;
}

.characters {
	position: absolute;
	color: var(--col-8);
	z-index: 0;
}

.words,
.characters {
	width: 85%;
}

.typing-area,
.characters {
	font-size: 1.25rem;
	height: 200px;
}

.incorrect-character {
	color: var(--col-2);
}

.correct-character {
	color: var(--col-3);
}
