main {
	margin-top: 100px;
}

.stats {
	color: var(--col-8);
	gap: 1.5em;
	font-size: 2em;
	width: fit-content;
	margin-left: 10%;
	margin-bottom: 50px;
}

.typing-area {
	background-color: var(--col-1);
	color: red;
	width: 85%;
	height: 200px;
	resize: none;
	border: 1px solid red;
	cursor: pointer;
}

.typing-area:focus {
	outline: none;
	cursor: default;
}

.typing-area::selection {
	background-color: black;
}
