main {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stats {
	color: var(--col-8);
	gap: 1.5em;
	font-size: 2em;
	width: fit-content;
	align-self: baseline;
	margin: 0 0 50px 3em;
	user-select: none;
}

.typing-area {
	position: absolute;
	background-color: transparent;
	color: transparent;
	width: 100%;
	resize: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1;
}

.typing-area {
	caret-color: var(--col-8);
}

.typing-area:focus {
	outline: none;
	cursor: default;
}

.typing-area:focus + .characters {
	filter: none;
}

.words:focus-within::after {
	display: none;
}

.typing-area::selection {
	background-color: transparent;
}

.characters {
	position: relative;
	color: var(--col-8);
	z-index: 0;
	filter: blur(5px);
	user-select: none;
}

.words::after {
	content: "Click to start typing";
	color: var(--col-6);
	font-weight: bold;
	font-size: 1.5em;
	display: block;
	position: absolute;
	user-select: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.words,
.typing-area {
	width: 85%;
}

.typing-area,
.characters {
	font-size: 1.25rem;
	height: 200px;
}

.incorrect-character {
	color: var(--col-2);
}

.correct-character {
	color: var(--col-3);
}
